[project]
	description = Change the HTML title and head elements on a per-view basis
[access "refs/*"]
	owner = group user/Martin Atkins (apparentlymart)
[access "refs/for/refs/*"]
	read = group user/Martin Atkins (apparentlymart)
	push = group user/Martin Atkins (apparentlymart)
	label-Code-Review = -2..+2 group user/Martin Atkins (apparentlymart)
	label-Verified = -1..+1 group user/Martin Atkins (apparentlymart)
	rebase = group user/Martin Atkins (apparentlymart)
	removeReviewer = group user/Martin Atkins (apparentlymart)
	submit = group user/Martin Atkins (apparentlymart)
[access "refs/heads/*"]
	read = group user/Martin Atkins (apparentlymart)
	create = group user/Martin Atkins (apparentlymart)
	push = +force group user/Martin Atkins (apparentlymart)
	pushMerge = group user/Martin Atkins (apparentlymart)
[access "refs/tags/*"]
	push = +force group user/Martin Atkins (apparentlymart)
	pushTag = group user/Martin Atkins (apparentlymart)
	pushSignedTag = group user/Martin Atkins (apparentlymart)
