<h1 view-title>About</h1>

<p>This is a simple demonstration of the viewhead module for AngularJS. This module allows the view
template to contribute a per-view part to the page title, and to configure other elements that should appear
in the head of the document whenever the view is displayed.</p>

<p>Navigate to the other pages in this demonstration to see the page title change. You can also use your
browser's DOM inspector to watch the other head elements come and go.</p>

<p>This page demonstrates how the view title can be automatically derived from an existing element in
the document by simply adding the <code>view-title</code> attribute. The 'About' header above has this
attribute, and so its content is automatically propagated to the page title.</p>
